<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="UpsShipments" type="ShipmentTranslator.FileImportExportDefinition, ShipmentTranslator" />
    <section name="EndiciaShipments" type="ShipmentTranslator.FileImportExportDefinition, ShipmentTranslator"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ErrorLogFilePath" value="d:\" />
  </appSettings>
  <UpsShipments DisplayName="UPS" 
				ImportFileName="shipmntexport.txt" 
				ImportFilePath="d:\UPS\" 
				ExportFileName="UPSExportFor3PLCentral_[yyyyMMddHHmmss].csv" 
				ExportFilePath="d:\UPS\" 
				ArchiveFilePath=""
				CheckForHeaderRecord="True"
				FreightMarkupPercent="15">
    <ImportFileDefinition FileDefinition="0,OrderNumber|1,TrackingNumber|3,3rdPartyFreightCost|4,BaseFreightCost|" />
    <ExportFileDefinition FileDefinition="0,OrderNumber|1,TrackingNumber|2,FreightCostPlusMarkup|3,3rdPartyFreightCost|4,BaseFreightCost|" />
  </UpsShipments>
  <EndiciaShipments
	DisplayName="Endicia"
	ImportFileName="shipmntexport.txt"
	ImportFilePath="d:\Endicia\"
	ExportFileName="EndiciaExportFor3PLCentral_[yyyyMMddHHmmss].csv"
	ExportFilePath="d:\Endicia\"
	ArchiveFilePath="d:\Endicia\Archive\"
	CheckForHeaderRecord="True"
	FreightMarkupPercent="15"
	>
	  <ImportFileDefinition
		FileDefinition="0,OrderNumber|1,TrackingNumber|3,3rdPartyFreightCost|4,BaseFreightCost|">	
	</ImportFileDefinition>  
	<ExportFileDefinition
	  FileDefinition="0,OrderNumber|1,TrackingNumber|2,FreightCostPlusMarkup|3,3rdPartyFreightCost|4,BaseFreightCost|">	
  </ExportFileDefinition>
  </EndiciaShipments>
</configuration>