<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<section name="UpsShipments" type="ShipmentTranslator.FileImportExportDefinition, ShipmentTranslator"/>
	<section name="EndiciaShipments" type="ShipmentTranslator.FileImportExportDefinition, ShipmentTranslator"/>
  </configSections>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
  <appSettings>
  </appSettings>
  <UpsShipments
	ImportFileName="shipmntexport.txt"
	ImportFilePath="d:\UPS\"
	ExportFileName="UPSExportFor3PLCentral_[yyyyMMddHHmmss].csv"
	ExportFilePath="d:\UPS\"
	ArchiveFilePath="d:\UPS\Archive\"
	FreightMarkupPercent="15"
	>
	  <ImportFileDefinition
		FileDefinition="1,OrderNumber|2,TrackingNumber|4,3rdPartyFreightCost|5,BaseFreightCost|">	
	</ImportFileDefinition>  
	<ExportFileDefinition
	  FileDefinition="1,OrderNumber|2,TrackingNumber|3,FreightCostPlusMarkup|4,3rdPartyFreightCost|5,BaseFreightCost|">	
  </ExportFileDefinition>
  </UpsShipments>

</configuration>