<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
	<section name="UpsInputFile" type="FileDefinition"/>
	<section name="UpsExportFile" type="FileDefinition"/>
	<section name="EndiciaInputFile" type="FileDefinition"/>
	<section name="EndiciaExportFile" type="FileDefinition"/>
  </configSections>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
  <appSettings>
	<!--==============================Change these options to change defaults============================-->
	<!--Ups File Options-->
	<add key="UpsInputFilePath" value="f:\UPS\"/>
	<add key="UpsInputFileName" value="shipmntexport.txt"/>
	<add key="UpsExportFilePath" value="f:\UPS\"/>
	<add key="UpsExportFileName" value ="UPSExportFor3PLCentral_[mm-dd-yyyy].csv"/>
	<add key="UpsFreightMarkupPercent" value="15"/>
	<!--Endicia File options-->
	<add key="EndiciaInputFilePath" value="f:\Endicia\"/>
	<add key="EndiciaInputFileName" value="shipmntexport.txt"/>
	<add key="EndiciaExportFilePath" value="f:\UPSEndicia\"/>
	<add key="EndiciaExportFileName" value ="EndiciaExportFor3PLCentral_[mm-dd-yyyy].csv"/>
	<add key="EndiciaFreightMarkupPercent" value="15"/>
	<!--=============================End Change Options to change Defaults===============================-->
  </appSettings>
  <UpsInputFile>
	<![CDATA[
	<file ignoreUndefinedColumns="True">
	  <column sequence="1" name="OrderNumber"/>
	  <column sequence="2" name="TrackingNumber">
	  <column sequence="3" />
	  <column sequence="4" name="3rdPartyFreightCost"/>
	  <column sequence="5" name="BaseFreightCost"/>
	</file>
	]]>
  </UpsInputFile>
  <UpsExportFile>
	<![CDATA[
	<file>
	  <column sequence="1" name="OrderNumber"/>
	  <column sequence="2" name="TrackingNumber">
	  <column sequence="3" name="FreightCostPlusMarkup"/>
	  <column sequence="4" name="3rdPartyFreightCost"/>
	  <column sequence="5" name="BaseFreightCost"/>
	</file>
	]]>
  </UpsExportFile>
  <EndiciaInputFile>
	<![CDATA[
	<file ignoreUndefinedColumns="True">
	  <column sequence="1" name="OrderNumber"/>
	  <column sequence="2" name="TrackingNumber">
	  <column sequence="3" />
	  <column sequence="4" name="3rdPartyFreightCost"/>
	  <column sequence="5" name="BaseFreightCost"/>
	</file>
	]]>
  </EndiciaInputFile>
  <EndiciaExportFile>
	<![CDATA[
	<file>
	  <column sequence="1" name="OrderNumber"/>
	  <column sequence="2" name="TrackingNumber">
	  <column sequence="3" name="FreightCostPlusMarkup"/>
	  <column sequence="4" name="3rdPartyFreightCost"/>
	  <column sequence="5" name="BaseFreightCost"/>
	</file>
	]]>
  </EndiciaExportFile>
</configuration>